<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List your Property</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic Info" formGroupName="BasicInfo">
                <p>I want to</p>
                <div class="btn-group" btnRadioGroup formControlName="SellRent">
                  <label
                    class="btn btn-outline-primary m-1"
                    btnRadio="1"
                    role="button"
                    name="SellRent"
                  >
                    Sell</label
                  >
                  <label
                    class="btn btn-outline-primary m-1"
                    btnRadio="2"
                    role="button"
                    name="SellRent"
                  >
                    Rent</label
                  >
                </div>
                <div
                  class="error-block"
                  *ngIf="SellRent.invalid && NextClicked"
                >
                  Please select sell or rent
                </div>

                <div class="form-group col-12">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup formControlName="BHK">
                    <label
                      *ngFor="let bhk of [1, 2, 3, 4]"
                      class="btn btn-outline-primary m-1"
                      [btnRadio]="bhk"
                      (click)="propertyView.bhk = bhk.toString()"
                      tabindex="0"
                      role="button"
                      name="BHK"
                    >
                      {{ bhk }}</label
                    >
                  </div>
                  <div class="error-block" *ngIf="BHK.invalid && NextClicked">
                    Please select BHK
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="PType">
                    <label
                      *ngFor="let pType of propertyTypes"
                      class="btn btn-outline-primary m-1"
                      [btnRadio]="pType.id"
                      (click)="propertyView.propertyType = pType.name"
                      tabindex="0"
                      role="button"
                      name="pType"
                    >
                      {{ pType.name }}</label
                    >
                  </div>
                  <div class="error-block" *ngIf="PType.invalid && NextClicked">
                    Please select the property type
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Furnish Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="FType">
                    <label
                      *ngFor="let fType of furnishTypes"
                      class="btn btn-outline-primary m-1"
                      [btnRadio]="fType.id"
                      (click)="propertyView.furnishingType = fType.name"
                      tabindex="0"
                      role="button"
                      name="fType"
                    >
                      {{ fType.name }}</label
                    >
                  </div>
                  <div class="error-block" *ngIf="FType.invalid && NextClicked">
                    Please select the furnish type
                  </div>
                </div>
                <!-- <div class="form-group col-12 ">
                  <label for="name">in Building/Society/Project</label>
                  <input type="text" class="form-control"
                  #propName="ngModel" ngModel
                  formControlName="Name"
                  required minlength="5"
                  [(ngModel)]="propertyView.Name">
                  <span *ngIf="!propName.valid && propName.touched" class="error-block">
                    <span *ngIf="propName.errors?.['required']"> Please provide name</span>
                    <span *ngIf="propName.errors?.['minlength']"> Name must be atleast 5 char long</span>
                  </span>
                </div> -->
                <div class="form-group col-12">
                  <label for="name">in Building/Society/Project</label>
                  <input
                    #propName
                    (keyup)="propertyView.name = propName.value"
                    type="text"
                    class="form-control"
                    formControlName="Name"
                  />
                  <div
                    class="error-block"
                    *ngIf="Name.invalid && (NextClicked || Name.touched)"
                  >
                    Please select building, society or project name
                  </div>
                  <!-- <span *ngIf="!propName.valid && propName.touched" class="error-block">
                    <span *ngIf="propName.errors?.['required']"> Please provide name</span>
                    <span *ngIf="propName.errors?.['minlength']"> Name must be atleast 5 char long</span>
                  </span> -->
                </div>

                <div class="form-group col-12">
                  <label>City</label>
                  <select
                    #city
                    (change)="
                      propertyView.city =
                        city.options[city.options.selectedIndex].text
                    "
                    class="form-control"
                    formControlName="City"
                  >
                    <option value="">--select-city--</option>
                    <option *ngFor="let city of cityList" value="{{ city.id }}">
                      {{ city.name }}
                    </option>
                  </select>
                  <div
                    class="error-block"
                    *ngIf="City.invalid && (NextClicked || City.touched)"
                  >
                    Please select the City
                  </div>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary col-12 m-2"
                    (click)="selectTab(1, BasicInfo.valid)"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <tab heading="Pricing and Area" formGroupName="PriceInfo">
                <div class="form-group col-12">
                  <label *ngIf="SellRent.value == 1">Price (in USD)</label>
                  <label *ngIf="SellRent.value == 2">Rent (in USD)</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Price"
                    #price
                    (keyup)="propertyView.price = +price.value"
                  />
                  <div
                    class="error-block"
                    *ngIf="Price.invalid && (this.NextClicked || Price.touched)"
                  >
                    Please fill the
                    <span *ngIf="SellRent.value == 1; else ShowRent"
                      >price</span
                    >
                    <ng-template #ShowRent> rent</ng-template>
                  </div>
                </div>

                <div *ngIf="SellRent.value == 2">
                  <div class="form-group col-12">
                    <label>Security (in USD)</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Security"
                    />
                  </div>

                  <div class="form-group col-12">
                    <label>Maintenance (in USD)</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Maintenance"
                    />
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="BuiltArea"
                    #builtArea
                    (keyup)="propertyView.builtArea = +builtArea.value"
                  />
                </div>
                <div
                  class="error-block"
                  *ngIf="
                    BuiltArea.invalid && (NextClicked || BuiltArea.touched)
                  "
                >
                  Please fill the Built Area
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="CarpetArea"
                  />
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary col-12 m-2"
                    (click)="selectTab(2, PriceInfo.valid)"
                  >
                    Next
                  </button>

                  <button
                    type="button"
                    class="btn btn-primary col-12 m-2"
                    (click)="selectTab(0, true)"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12">
                  <label>Floor</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="FloorNo"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="TotalFloor"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Address"
                  />
                </div>
                <div
                  class="error-block"
                  *ngIf="Address.invalid && (NextClicked || Address.touched)"
                >
                  Please fill the address
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="LandMark"
                  />
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary col-12 m-2"
                    (click)="selectTab(3, AddressInfo.valid)"
                  >
                    Next
                  </button>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary col-12 m-2"
                    (click)="selectTab(1, true)"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup formControlName="RTM">
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      (click)="propertyView.readyToMove = 1"
                      name="RTM"
                      >Yes
                    </label>
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      (click)="propertyView.readyToMove = 0"
                      name="RTM"
                      >No
                    </label>
                  </div>

                  <div
                    class="error-block"
                    *ngIf="RTM.invalid && (NextClicked || RTM.touched)"
                  >
                    Please fill the RTM
                  </div>
                </div>

                <div class="form-group col-3">
                  <label *ngIf="propertyView.readyToMove"
                    >Establishment Date</label
                  >
                  <label *ngIf="!propertyView.readyToMove"
                    >Possession Date</label
                  >
                  <input
                    type="text"
                    placeholder="Pick a date"
                    class="form-control"
                    #PossessionOn
                    (bsValueChange)="
                      propertyView.estPossessionOn = parseDate(
                        PossessionOn.value
                      )
                    "
                    bsDatepicker
                    [bsConfig]="{
                      containerClass: 'theme-dark-blue',
                      dateInputFormat: 'MMM DD, YYYY'
                    }"
                    formControlName="PossessionOn"
                    [value]=""
                  />
                </div>

                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup formControlName="Gated">
                    <label
                      *ngFor="let gc of ['Yes', 'No']"
                      class="btn btn-outline-primary m-1"
                      [btnRadio]="gc"
                      tabindex="0"
                      role="button"
                      name="gc"
                    >
                      {{ gc }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="MainEntrance"
                  >
                    <label
                      *ngFor="
                        let aptDirection of ['East', 'West', 'North', 'South']
                      "
                      class="btn btn-outline-primary m-1"
                      [btnRadio]="aptDirection"
                      tabindex="0"
                      role="button"
                      name="aptDirection"
                    >
                      {{ aptDirection }}</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    rows="6"
                    formControlName="Description"
                  ></textarea>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary col-12 m-2"
                    (click)="selectTab(4, OtherInfo.valid)"
                  >
                    Next
                  </button>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary col-12 m-2"
                    (click)="selectTab(2, true)"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br />
                    This is under construction
                  </div>
                </div>
                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary col-12 m-2"
                    (click)="selectTab(3, true)"
                  >
                    Back
                  </button>
                  <button type="reset" class="btn btn-primary col-12 m-2">
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary col-12 m-2">
                    Save
                  </button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h3>Your Property Preview</h3>
      </div>
      <div class="shadow-lg p-3 bg-white">
        <app-property-card [property]="propertyView" [hideIcons]="true">
        </app-property-card>
      </div>
    </div>
  </div>
</div>
